* {
   margin: 0;
   padding: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}


nav img {
    height: 40px;
}

.top-section {
    background-color: #FFFBF0;
}


h1 {
    font-size: 80px;
    font-weight: 500;
    font-family: 'Bebas Neue';
    color: #FABE4C;
    line-height: 75px;
}
.high-light {
    color: #363958;
}
.custom-btn {
    border: none;
    background-image: linear-gradient(#A4BC46, #85A019);
    color: white;
   
}
.custom-btn:hover {
    border: none;
    background-image: linear-gradient(#85A019, #A4BC46);
    color: white;
}
.section-title h2 {
    color: #363958;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Bebas Neue';
    font-size: 42px;
}

.custom-product {
    border-radius: 25px;
}
.product-title {
    color: #363958;
    font-weight: 700;
    font-size: 26px;
}

.product-price {
    color:#FABE4C;
    font-weight: 700;
    font-size: 36px;
    display: inline-block;
}

.product-bg {
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 25px;
}
.custom-card {
    border: 0;
    border-radius: 25px;;
}

.custom-card-footer{
    background-color: white;
    border-top: 0
}

.icon-size {
    width: 7em;
    padding: 20px;  
} 


.icon-title {
    color: #363958;
    font-weight: 700;
    font-size: 22px;
}

.logo {
    height: 45px;
    margin-bottom: 20px;
}

footer {
    background-color: #FFFBF0;
    padding: 55px 0;
}
footer h6 {
    color:#363958;
    font-size: 14px;
    line-height: 18px;
}

footer i {
    color: #85A019;
    padding-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
footer ul li a:hover {
   
    color: #85A019;
  
}

.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media ul li  {
    display: inline;
 
}
.social-media ul li i {
   margin: 0;
    padding: 10px 10px 0 0 ;
    font-size: 20px;
}